/* 2line */
.tab-border-top-container {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  width: 100% !important;
  height: calc(100% - 3px) !important;
  background-color: transparent !important;
}

.tab-border-top-container:before {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: spinner 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  background: conic-gradient(
      from 0deg at 50% 51.35%,
      rgba(185, 215, 243, 0) 0deg,
      rgba(185, 215, 243, 0) 289.4deg,
      #ffb86c 318.05deg,
      #ff65f2 1turn
    ),
    conic-gradient(
      from 180deg at 50% 51.35%,
      rgba(185, 215, 243, 0) 0deg,
      rgba(185, 215, 243, 0) 287.46deg,
      #20e3b2 325.02deg,
      #00aefd 1turn
    );
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/* 4corner */
/* :root {
  --size: 5px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container:before,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container:after {
  content: "";
  width: var(--size);
  height: var(--size);
  position: absolute;
  border: 2px solid;
  border-image-slice: 1;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container:before {
  top: 0;
  left: 0;
  border-right: 0;
  border-bottom: 0;
  border-image-source: linear-gradient(-45deg, #4dd78a, #20e3b2);
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container:after {
  right: 0;
  bottom: 0;
  border-top: 0;
  border-left: 0;
  border-image-source: linear-gradient(-45deg, #6a5af9, #d66efd);
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active:before,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active:after {
  content: "";
  width: var(--size);
  height: var(--size);
  position: absolute;
  border: 2px solid;
  border-image-slice: 1;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active:before {
  left: 0;
  bottom: 0;
  border-top: 0;
  border-right: 0;
  border-image-source: linear-gradient(-45deg, #fc6c8f, #ffb86c);
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active:after {
  top: 0;
  right: 0;
  border-left: 0;
  border-bottom: 0;
  border-image-source: linear-gradient(-45deg, #098dff, #2cccff);
} */

/* thanh scorllbar */
.cursors-layer .cursor {
  background-image: linear-gradient(245deg,
      #fcb564,
      #ff65f2,
      #d66efd) !important;
}

.editor-container .monaco-scrollable-element>.scrollbar.vertical>.slider {
  background-image: linear-gradient(to top, #ffb86c, #ff6bcb);
  width: 3px !important;
}

.editor-container .monaco-scrollable-element>.scrollbar.horizontal>.slider {
  background-image: linear-gradient(to left, #ffb86c, #ff6bcb);
  height: 3px !important;
}

.separator-border .sash-container .monaco-sash.vertical {
  background-image: linear-gradient(to bottom, #00aefd, #20e3b2);
  width: 3px !important;
}

.minimap.slider-mouseover .minimap-decorations-layer {    
  /* background: linear-gradient(to bottom, #cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a); */
  background: linear-gradient(150deg, #ff8787 0%, #ffd43b 30%, #63e6be 60%, #74c0fc 100%);
  opacity: .2;
}

/* thanh footer */
.part.statusbar.status-border-top {
  background: linear-gradient(to right, rgba(64, 224, 208, 0.5), rgba(255, 140, 0, 0.5), rgba(255, 0, 128, 0.5));
}

/* hinh nen */
.windows {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
  background-image: url('/D:/vscode/backdes.png');
}

/* thanh list file */
.monaco-list-rows, .monaco-scrollable-element {
  background-image: url('/D:/vscode/rain.gif') !important;
}

/* avatar */
.codicon-accounts-view-bar-icon:before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/D:/vscode/avatar.png);
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid transparent;
}

.codicon-accounts-view-bar-icon:hover:before {
  width: 37px;
  height: 37px;
  border: 3px solid transparent;
  animation: borderAnimation 3s infinite;
}

@keyframes borderAnimation {
  0% {
      border-color: #ff0000;
  }
  20% {
      border-color: #ff7f00;
  }
  40% {
      border-color: #ffff00;
  }
  60% {
      border-color: #00ff00;
  }
  80% {
      border-color: #0000ff;
  }
  100% {
      border-color: #ff00ff;
  }
}

/* hover file */
.hover-contents {
  background: linear-gradient(to right, rgba(64, 224, 208, 0.5), rgba(255, 140, 0, 0.5), rgba(255, 0, 128, 0.5));
  color: white
}

/* icon app */
.window-appicon {
  background-size: 18px !important;
  background-image: url('/D:/vscode/icon.png') !important;;
}

/* active item */
.active-item-indicator::before {
  animation: activeItem 3s infinite;
}

@keyframes activeItem {
  0% {
      border-left-color: #FFD700;
  }
  25% {
      border-left-color: #FFC0CB;
  }
  50% {
      border-left-color: #87CEEB;
  }
  75% {
      border-left-color: #9370DB;
  }
  100% {
      border-left-color: #FFD700;
  }
}


/* .minimap.slider-mouseover .minimap-decorations-layer {
  animation: animateBg 10s linear infinite;
  background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
  opacity: .2;
}
@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
} */

/* .monaco-scrollable-element .tabs-container {
  padding: 2.5px;
  background: repeating-conic-gradient(from var(--a), #0f0, #ff0, #0ff, #f0f, #0ff);
  animation: rotating 4s linear infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotating {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
} */

/* Edit font */
.mtk5,
.mtki {
  font-family: "Operator mono";
  font-style: italic;
}
